:root {
    --color1: rgb(30, 30, 30);
    --color2: rgb(244, 244, 244);
    --color3: hsl(13, 94%, 52%);
    --color4: hsl(13, 94%, 32%);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    background-color: var(--color1);
    color: var(--color2);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    border-style: hidden;
}

td {
    border: 0.3rem solid var(--color2);
    width: min(20vw, 10rem);
    height: min(20vw, 10rem);
    vertical-align: center;
    text-align: center;
    font-family: Verdana, Georgia, "Trebuchet MS", sans-serif;
    font-size: min(15vw, 8rem);
    color: var(--color3);
}


.inactive {
    opacity: 0; 
    pointer-events: none;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: min(6vw, 3rem);
    background-color: var(--color3);
    border: none;
    border-radius: 1rem;
    color: var(--color2);
    transition: background-color 1s ease;
}

input {
    height: min(6vw, 3rem);
    font-size: min(4vw, 2rem);
    margin: 0 0.2rem;
    max-width: 40vw;
}

button:hover {
    background-color: var(--color4);
}

p {
    font-size: min(6vw, 3rem);
    color: var(--color3);
    margin: 0;
    font-weight: 500;
}

.form {
    transition: opacity 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}