body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    border-style: hidden;
}

td {
    border: 0.3rem solid black;
    width: min(20vw, 10rem);
    height: min(20vw, 10rem);
    vertical-align: center;
    text-align: center;
    font-size: min(15vw, 8rem);
}

.inactive {
    opacity: 0; 
    pointer-events: none;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(6vw, 3rem);
}

p {
    font-size: min(6vw, 3rem);
    margin: 0;
}